<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ingresar justificativo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

  <div class="mb-3">
    <form action="#" th:action="@{/guardarjustificativo}" method="post" th:object="${justificativoObject}">
      <label class="form-label">Ingrese justificativo</label>
      <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese el rut del empleado">
      <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Ingrese fecha del justificativo">
      <input type="submit" class="btn btn-primary" value="Ingresar">
      <a class="btn btn-primary " href="/home" role="button">Volver al inicio</a>
    </form>
  </div>

</body>
</html>