<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div class="container-sm">
    <table class="table">
        <thead>
        <tr>
            <th>RUT</th>
            <th>Nombre empleado</th>
            <th>Categoria</th>
            <th>Años de servicio</th>
            <th>Sueldo fijo mensual</th>
            <th>Monto bonificacion años de servicio</th>
            <th>Monto pago horas extras</th>
            <th>Monto descuentos</th>
            <th>Sueldo bruto</th>
            <th>Cotizacion previsional</th>
            <th>Cotizacion salud</th>
            <th>Monto sueldo final</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="reportes:${reportes}">
            <td th:text="${reportes.rut}"></td>
            <td th:text="${reportes.nombreApellido}"></td>
            <td th:text="${reportes.categoria}"></td>
            <td th:text="${reportes.aniosServicio}"></td>
            <td th:text="${reportes.sueldoFijo}"></td>
            <td th:text="${reportes.bonificacionAnios}"></td>
            <td th:text="${reportes.bonificacionHrsExtras}"></td>
            <td th:text="${reportes.descuentos}"></td>
            <td th:text="${reportes.sueldoBruto}"></td>
            <td th:text="${reportes.CotizacionPrevisional}"></td>
            <td th:text="${reportes.CotizacionSalud}"></td>
            <td th:text="${reportes.montoFinal}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>